<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <app key="BLOCK_RADIUS" value="4" />
    <add key="NEURONAL_FIRE_VOLTAGE" value="10"/>
    <add key="NMDA_SPIKEPOTENTIAL" value="10"/>    
    <add key="MAX_CONNECTIONS_PER_SEGMENT" value="1000"/>
    <add key="PRE_SYNAPTIC_CONNECTION_STRENGHT" value="1"/>
    <add key="MAX_SEGMENTS_PER_NEURON" value="255"/>
    <add key="SEGMENTS_AT_START" value="12"/>
    <add key="SPATIAL_FIRING_VOLTAGE" value="10"/>
    <add key="TEMPORAL_BIASING_VOLTAGE" value="5"/>
    <add key="APICAL_BIASING_VOLTAGE" value="5"/>
    <add key="PRUNE_THRESHOLD" value="3"/>
    <add key="RECEPTIVE_AREA" value="10"/>
    <add key="SEGMENT_XBOUND" value="5"/>
    <add key="SEGMENT_YBOUND" value="5"/>
    <add key="SEGMENT_ZBOUND" value="5"/>
  </appSettings>
</configuration>