<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="NMDA_SPIKEPOTENTIAL" value="10"/>
    <add key="AXON_GROWTH_PER_SPIKE" value="1"/>
    <add key="MAX_CONNECTIONS_PER_SEGMENT" value="1000"/>
  </appSettings>
</configuration>