<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="BLOCK_RADIUS" value="4"/>
		<add key="PRE_SYNAPTIC_CONNECTION_STRENGTH" value="10"/>
		<add key="DISTAL_NEW_SYNAPSE_STRENGTH" value="10"/>
		<add key="PROXIMAL_NEW_SYNAPSE_STRENGTH" value="100"/>
		<add key="MAX_CONNECTIONS_STRENGTH_FOR_SYNAPSE" value="100"/>
		<add key="MAX_CONNECTIONS_SEGMENT" value="10" />
		<add key="NEURONAL_FIRE_VOLTAGE" value="10"/>
		<add key="NMDA_SPIKE_POTENTIAL" value="10"/>
		<add key="MAX_CONNECTIONS_PER_SEGMENT" value="1000"/>
		<add key="MAX_SUBSEGMENTS_SEGMENT" value="3"/>
		<add key="PRE_SYNAPTIC_CONNECTION_STRENGHT" value="1"/>
		<add key="MAX_SEGMENTS_PER_NEURON" value="255"/>
		<add key="SEGMENTS_AT_START" value="12"/>
		<add key="SPATIAL_FIRING_VOLTAGE" value="10"/>
		<add key="TEMPORAL_BIASING_VOLTAGE" value="5"/>
		<add key="APICAL_BIASING_VOLTAGE" value="5"/>
		<add key="PRUNE_THRESHOLD" value="3"/>
		<add key="RECEPTIVE_AREA" value="10"/>
		<add key="SEGMENT_XBOUND" value="5"/>
		<add key="SEGMENT_YBOUND" value="5"/>
		<add key="SEGMENT_ZBOUND" value="5"/>
	</appSettings>
</configuration>
